:root {
  --grey: #f5f4fa;
  --black: #2f303a;
  --text-grey: #757575;
  --text-black: #212121;
  --blue: #2196f3;
}

svg {
  height: 50px; 
  width: 50px;
  display: flex;
}

body {
  color: var(--text-black);
  font-family: "Roboto", "sans-serif";
}

ul,
ol {
  list-style-type: none;
}

h2 {
  text-align: center;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
}

img {
  display: block;
}

* {  
  margin: 0px;  
  padding: 0px;
}

.container {
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Header */

.header .container {
  display: flex;
  align-items: center;
  width: 1200px;
}

.header {
  background-color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
  min-height: 80px;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}


.menu a:visited {
  color: var(--text-black);
}

.header-contact a:visited {
  color: var(--text-grey);
}

.logo {
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-blue {
  color: var(--blue);
}

.logo-black {
  color: var(--text-black);
}

.logo-white {
  color: #fff;
}

.header nav a {
  color: var(--text-black);
  font-weight: 500;
}

.header a:hover,
.header a:focus,
.header a:active {
  color: var(--blue);
}

.menu-2 {
   margin-left: auto;
    margin-right: 12px;
    display: flex;
}

.menu-2 a {
  color: var(--text-grey);
  margin-left: 50px;
}

.menu-item {
  margin-right: 46px;
}

.menu a[href="index.html"]
{
  margin-left: 93px;
}


/* Main */
 
.section-1 {
padding-top: 0;
background-image: linear-gradient(
rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)),
  url(/images/bgimg.jpg);
  background-size: cover;
  background-position: center;
}

.main-page-top {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 200px;
  padding-bottom: 200px;

}

.main-page-top button {
  background-color: var(--blue);
  color: #fff;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.87;
  border: none;
  padding: 10px 41px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.main-page-mid-1,
.main-page-mid-1-list,
.main-page-mid-1-images {
  font-size: 14px;
  line-height: 1.14;
}

.main-page-mid-1-images {
  display: flex;
  padding-left: 0;
}

.main-page-mid-1-images li:not(:last-child) {
  margin-right: 30px;
}

.main-page-mid-1-list li:not(:last-of-type) {
  margin-right: 100px;
}
.rectangle {
width: 270px;
height: 120px;
border-radius: 4px;;
  background-color: var(--grey);
  margin: 0;
}

.icon-list {
  display: flex;
  padding: 0;
  padding-top: 94px;
  justify-content: center;
  margin-bottom: 30px;
}

.icon-list li:not(:last-child) {
  margin-right: 30px;
}

.main-page-mid-1-list {
  display: flex;
  justify-content: space-between;
  padding: 0;  
}

.main-page-mid-1-list li {
  color: var(--text-grey);
}

.heading {
  color: var(--text-black);
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.main-page-mid-2 {
  background-color: var(--grey);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding-top: 0;
}

.main-page-mid-2-list {
  display: flex;
  padding-left: 0;
  margin-left: -30px;
}

.main-page-mid-2 h2 {
  padding-top: 94px;
}

.main-page-mid-2-list li {
  margin-left: 30px;
}

.main-page-mid-2-list figure {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  text-align: center;  
  margin: 0;

}

.main-page-mid-2-list figcaption {
  color: var(--text-grey);
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-page-mid-2 h3 {
  color: var(--text-black);
  font-weight: 500;
}

.team-social {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

.team-social li {
padding: 0;
margin: 0;
fill: #AFB1B8;
}

.team-social li:hover {
fill: #fff;
}

.ellipse {
  display: flex;
  z-index: 0;
}

.social-ellipse {
width: 44px;
height: 44px;
border-radius: 50%;
background-color: var(--blue);
}

.main-page-mid-2-list .social-ellipse {
  margin-left: 0;
}


.client-list {
  display: flex;
  padding: 0; 
  justify-content: center;
}

.rectangle-2 {
width: 170px;
height: 92px;
border: 1px solid #AFB1B8;
border-radius: 4px;
}

.client-list li:not(:last-child) {
  margin-right: 30px;
}

/* Footer */

.footer > .container {
  display: flex;
  margin: 0;
  align-items: start;
}

.footer {
  background-color: var(--black);
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
    padding-left: 215px;
}

.footer address {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
}

.contact-bottom {
  color: #fff;
  opacity: 40%;
}

.container-footer {
  padding-top: 60px;
  padding-bottom: 60px;

}

.container-footer-social {
    margin-left: 70px;
    display: flex;
    padding-top: 72px;
    width: 206px;
}

.container-footer-social h3 {
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #fff; 
}

.footer-social {
  display: flex;
  flex-wrap: wrap;

}


/* Buttons */

.button-list {
  display: flex;
  justify-content: center;
}

.button-list button {
  background-color: var(--grey);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  border-style: none;
  font-family: inherit;
  cursor: pointer;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
}

.button-list button:not(last-child) {
  margin-right: 8px;
}

.button-list button:focus,
.button-list button:hover {
  background-color: var(--blue);
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.section.button-list {
  padding-bottom: 0;
}

/* Portfolio cards */

.section.portfolio {
  padding-top: 56px;
}

.portfolio h3 {
  color: var(--text-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio figcaption {
  color: var(--text-grey);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio figure {
  background: #fff;
  border: 1px solid #eee;
    margin-bottom: 30px;
}

.portfolio ul {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio h3 {
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.portfolio p {
  padding: 4px 24px 20px 24px;
}